.connection-orb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(109, 107, 107);
  position: absolute;
  right: 177px;
  bottom: 18px;
}

.connection-orb + h3 {
  font-size: 16px !important;
}

.online-orb {
  background-color: rgb(25, 211, 124);
}

.busy-orb {
  background-color: rgb(211, 31, 25);
}

.away-orb {
  background-color: rgb(211, 99, 25);
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 40%;
  overflow: hidden;
}

.profile-image > img {
  max-width: 40px;
}