<mat-list-item (click)="onChangeThread(mainThread._id)" class="thread-mat-list-item" [ngClass]="{
  'selected-thread': cThread == mainThread._id,
  'not-selected-thread': cThread != mainThread._id && tmpThread != mainThread._id,
  'ack-thread': tmpThread == mainThread._id && tmpThread != cThread
}">
  <mat-icon matListIcon>chat</mat-icon>
  <h3 matLine [title]="mainThread.title">{{ mainThread.title }}</h3>
  <div matLine>
    <small>{{ mainThread._id }}</small>
  </div>
  <button mat-icon-button *ngIf="cThread == mainThread._id && isSuperGuest" [matMenuTriggerFor]="threadMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-list-item>

<mat-list-item *ngFor="let thread of threads" (click)="onChangeThread(thread._id)" class="thread-mat-list-item" [ngClass]="{
  'selected-thread': cThread == thread._id,
  'not-selected-thread': cThread != thread._id && tmpThread != thread._id,
  'ack-thread': tmpThread == thread._id && tmpThread != cThread
}">
  <mat-icon matListIcon>chat</mat-icon>
  <h3 matLine [title]="thread.title">{{ thread.title }}</h3>
  <div matLine>
    <small>{{ thread._id }}</small>
  </div>
  <button mat-icon-button *ngIf="cThread == thread._id && isSuperGuest" [matMenuTriggerFor]="threadMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-list-item>

<mat-menu #threadMenu="matMenu">
  <button mat-menu-item (click)="openThreadNameEditor()">
    <mat-icon>mode_edit</mat-icon>
    <span>Edit name</span>
  </button>
  <button mat-menu-item (click)="openConfirmDelete()" *ngIf="cThread !== mainThread._id">
    <mat-icon>delete_forever</mat-icon>
    <span>Delete</span>
  </button>
</mat-menu>