.selected-thread {
  background-color: #cecece;
  border-left: 6px solid #456cda;
}

.not-selected-thread {
  cursor: pointer;
}

.not-selected-thread:hover {
  background-color: #9c9c9c;
}

.thread-mat-list-item {
  transition: all 150ms;
}

.thread-mat-list-item > h3 {
  font-weight: bold;
}

.ack-thread {
  background-color: #8a8a8a;
}