<h1 mat-dialog-title>Manage guests</h1>
<div mat-dialog-content>
  <div>Add guests to this room</div>
  <form [formGroup]="fg_query" autocomplete="off">
    <mat-form-field floatLabel="never" class="full-width">
      <input matInput type="text" placeholder="Username" formControlName="query" />
      <button mat-button *ngIf="query.value && query.value.length > 0" matSuffix mat-icon-button aria-label="Clear" (click)="resetFilter()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </form>
  <div *ngIf="response.pending" class="fetch-spinner-container">
    <mat-spinner [diameter]="50" style="margin:0 auto;"></mat-spinner>
  </div>
  <mat-selection-list class="query-guests" *ngIf="response.list && response.list.length > 0">
    <mat-list-item *ngFor="let user of response.list | slice:0:5" (click)="onSelection(user)" [@whoa2]="in">
      {{ user }}
    </mat-list-item>
  </mat-selection-list>
  <div class="chip-list">
    <span *ngIf="selected.length > 0">Will be added: </span>
    <mat-chip-list>
      <mat-chip *ngFor="let guest of selected" [selectable]="false" [removable]="true" (remove)="onRemove(guest)">
        {{ guest }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="beforeClose()" tabindex="2" class="to-uppercase" [disabled]="selected.length == 0">add</button>
  <button mat-button (click)="onNoClick()" tabindex="-1" class="to-uppercase" color="warn">cancel</button>
</div>