<div appShareChatVh>
  <div appScrollDownStream *ngIf="stream" (loadMore)="onLoadMore($event)" class="stream scroll">
    <ol>
      <div class="loading-stream" *ngIf="pending">
        <mat-progress-bar [@loading]="in" mode="indeterminate" color="accent"></mat-progress-bar>
      </div>
      <li *ngFor="let msg of stream" class="stream-message" [@whoa]="in">
        <div class="profile-image">
          <img src="https://i.imgur.com/39mUV8g.jpg" alt="kitten">
        </div>
        <div class="message-header">
          <span [ngClass]="{
          'own-message': whoami == msg.author
        }">{{ msg.author }}</span>
          <span>{{ msg.date | streamDate }}</span>
        </div>
        <div class="message-content">{{ msg.loadout.content }}</div>
      </li>
    </ol>
  </div>
  <div class="creation-area">
    <div>
      <button mat-icon-button>
        <mat-icon aria-label="Import media to message">attachment</mat-icon>
      </button>
    </div>
    <form [formGroup]="fg" class="input-area">
      <mat-form-field class="full-width" floatLabel="never">
        <textarea matInput placeholder="Type a message" formControlName="new_message" matTextareaAutosize matAutosizeMinRows="1"
          matAutosizeMaxRows="9" (keydown.enter)="preventNewline($event)"></textarea>
        <mat-error *ngIf="is_valid_message && new_message.errors.maxLength">{{ new_message.errors.maxlength.requiredLength }} characters max</mat-error>
      </mat-form-field>
    </form>
    <div class="send-area">
      <button mat-icon-button (click)="onSubmit()" color="primary" [disabled]="!(fg.valid)">
        <mat-icon aria-label="Send message to thread">send</mat-icon>
      </button>
    </div>
  </div>
</div>