<div *ngIf="room; else noRoomSelected" class="room-grid">
  <div [appFullHeight]="70" class="chat">
    <app-chat *ngIf="thread; else noThreadSelected"></app-chat>
  </div>
  <ng-template #noThreadSelected>
    <div class="chat empty">
      <h2>Select a thread</h2>
    </div>
  </ng-template>
  <div class="guests">
    <div class="container">
      <div *ngIf="isSuperGuest" class="item manage-guests">
        <button mat-button [matMenuTriggerFor]="guestsMenu" class="to-uppercase">
          Manage
        </button>
      </div>
      <div [appFullHeight]="guestHeight" class="scroll white">
        <mat-list dense class="thread-mat-list">
          <app-guestlist></app-guestlist>
        </mat-list>
      </div>
    </div>
  </div>
  <div class="threads">
    <div class="container">
      <div *ngIf="isSuperGuest" class="item new-thread">
        <span>
          New thread
        </span>
        <button mat-icon-button (click)="openThreadDialog()" color="primary">
          <mat-icon aria-label="Add icon">add_box</mat-icon>
        </button>
      </div>
      <div [appFullHeight]="threadHeight" class="scroll">
        <mat-list class="thread-mat-list">
          <app-threadlist></app-threadlist>
        </mat-list>
      </div>
    </div>
  </div>
</div>

<mat-menu #guestsMenu="matMenu" overlapTrigger="false" [xPosition]="'before'">
  <button mat-menu-item (click)="openGuestsDialog(gAction.add)">
    <mat-icon>add_box</mat-icon>
    <span>Add guest</span>
  </button>
  <button mat-menu-item (click)="openGuestsDialog(gAction.remove)">
    <mat-icon>remove_circle</mat-icon>
    <span>Remove guest</span>
  </button>
  <button mat-menu-item (click)="openGuestsDialog(gAction.whitelist)">
    <mat-icon>edit</mat-icon>
    <span>Edit whitelist</span>
  </button>
</mat-menu>

<ng-template #noRoomSelected>
  <div class="empty">
    <h2>Nothing to show here :(</h2>
    <p>Select a room from the left side panel (if you don't have any yet just create one!)</p>
  </div>
</ng-template>