.guests {
  grid-area: guests;
  background: rgb(24, 22, 22);
}

.threads {
  grid-area: threads;
  background: rgb(109, 107, 107);
}

.chat {
  grid-area: chat;
  background: rgb(206, 206, 206);
}

.room-grid {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "threads chat guests";
}

.empty {
  width: 280px;
  margin: auto;
}

.thread-mat-list {
  padding-top: 0px !important;
}
