<div class="container">
  <div class="item switch">
    <button mat-raised-button (click)="switch()" class="to-uppercase" color="accent">
      {{ toggle.message }}
    </button>
  </div>
  <div class="item filter-form">
    <mat-form-field class="full-width white" floatLabel="never">
      <input matInput [(ngModel)]="query" placeholder="Filter">
      <mat-icon matSuffix (click)="resetFilter()">
        {{ (query == undefined || query.length == 0) ? 'edit' : 'close' }}
      </mat-icon>
    </mat-form-field>
  </div>
  <div *ngIf="toggle.room_deployed" class="item new-room">
    <span>
      New room
    </span>
    <button mat-icon-button (click)="newRoom()" color="primary">
      <mat-icon aria-label="Add icon">add_box</mat-icon>
    </button>
  </div>
  <div class="scroll white" (window:resize)="onResize($event)" [style.height.px]="myInnerHeight">
    <mat-list *ngIf="toggle.room_deployed; else friendsView" class="side-mat-list">
      <app-rooms [rooms]="rooms" [query]="query" (onChangeRoom)="onChangeRoom($event)"></app-rooms>
    </mat-list>
    <ng-template #friendsView>
      <mat-list class="side-mat-list">
        <app-friends [friends]="friends" [query]="query" (onChangeFriend)="onChangeFriend($event)"></app-friends>
      </mat-list>
    </ng-template>
  </div>
  <app-roomcreationdialog [friends]="friends"></app-roomcreationdialog>
</div>