<div class="container">
  <div class="item switch">
    <button mat-raised-button (click)="switch()" class="to-uppercase" color="accent">
      {{ toggle.message }}
    </button>
  </div>
  <div class="item filter-form">
    <mat-form-field class="white" floatLabel="never">
      <input matInput type="text" placeholder="Filter" [(ngModel)]="query" />
      <button mat-button *ngIf="query" matSuffix mat-icon-button aria-label="Clear" (click)="resetFilter()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div *ngIf="toggle.room_deployed" class="item new-room">
    <span>
      New room
    </span>
    <button mat-icon-button (click)="openRoomDialog()" color="primary">
      <mat-icon aria-label="Add icon">add_box</mat-icon>
    </button>
  </div>
  <div class="scroll white" [appFullHeight]="152">
    <mat-list *ngIf="toggle.room_deployed; else friendsView" class="side-mat-list">
      <app-rooms [rooms]="rooms" [query]="query" [currentRoom]="current_room" (onChangeRoom)="onChangeRoom($event)"></app-rooms>
    </mat-list>
    <ng-template #friendsView>
      <mat-list class="side-mat-list">
        <app-friends [friends]="friends" [query]="query" (onChangeFriend)="onChangeFriend($event)"></app-friends>
      </mat-list>
    </ng-template>
  </div>
</div>