.sidelist {
  grid-area: sidelist;
  overflow: hidden;
  background: rgb(24, 22, 22);
}
.toolbar {
  grid-area: toolbar;
  background: rgb(69, 108, 218);
}
.roomcontent {
  grid-area: roomcontent;
}

.global-grid {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) 6fr;
  grid-template-rows: 70px auto;
  grid-template-areas: 
    "sidelist toolbar toolbar toolbar"
    "sidelist roomcontent roomcontent roomcontent";
}