.rooms {
  grid-area: rooms;
  background: rgb(24, 22, 22);
}
.threads {
  grid-area: threads;
  background: rgb(109, 107, 107);
}
.toolbar {
  grid-area: toolbar;
  background: rgb(69, 108, 218);
}
.feed {
  grid-area: feed;
  background: rgb(206, 206, 206);
}
.connected {
  grid-area: connected;
  background: rgb(24, 22, 22);
}

.container {
  display: grid;
  grid-template-columns: 150px 300px auto 300px;
  grid-template-rows: 70px auto;
  grid-template-areas: 
    "rooms toolbar toolbar toolbar"
    "rooms threads feed connected";
}

@media all and (max-width: 1400px) {
  .container {
    grid-template-columns: 100px 250px auto 250px;
  }
}